
services:
  # Service 1: The Database
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=internops
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5430:5432"

  # Service 2: The Broker
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  # Service 3: Your FastAPI Backend
  web:
    build: .
    command: uvicorn app.app:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=internops
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

  # Service 4: Your Celery Worker
  worker:
    build: .
    command: celery -A app.tasks.celery_app worker --loglevel=info
    volumes:
      - .:/app
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=internops
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

volumes:
  postgres_data: